node_modules
yarn.lock
yarn-error.log
package-lock.json
*.DS_Store
artifacts
junit.xml

# Stripescli
.stripesclirc
stripes.config.js.local

.idea

# Exclude all root dot filed/dirs except eslint and git files.
/.*
!/.git*
!/.eslint
